[
  {
    "name": "freeipa1",
    "image": "${aws_repo_url}:latest",
    "essential": true,
    "environment": [
      {"name": "IPA_SERVER_HOSTNAME", "value": "freeipa1.${name_prefix}-${aws_suffix}.internal"},
      {"name": "IPA_SERVER_INSTALL_OPTS", "value": "-U -r ${realm} --no-ntp"}
    ], 
    "portMappings": [
      {
        "containerPort": 80,
        "hostPort": 80
      },
      {
        "containerPort": 443,
        "hostPort": 443
      },
      {
        "containerPort": 389,
        "hostPort": 389
      },
      {
        "containerPort": 636,
        "hostPort": 636
      },
      {
        "containerPort": 88,
        "hostPort": 88
      },
      {
        "containerPort": 88,
        "hostPort": 88,
        "protocol": "udp"
      },
      {
        "containerPort": 464,
        "hostPort": 464
      },
      {
        "containerPort": 464,
        "hostPort": 464,
        "protocol": "udp"
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "/aws/ecs/${name_prefix}_${aws_suffix}",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "freeipa1"
      }
    },
    "secrets": [
      {
        "name": "PASSWORD",
        "valueFrom": "${secret_arn}"
      },
      {
        "name": "ds-password",
        "valueFrom": "${secret_arn}"
      },
      {
        "name": "admin-password",
        "valueFrom": "${secret_arn}"
      }
    ],
    "systemControls": [
      {
        "namespace": "net.ipv6.conf.all.disable_ipv6",
        "value": "0"
      }
    ]
  }
]
